.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .message.right {
    align-self: flex-end; /* Aligns to right side of the list item */
  }
  
  .message.left {
    align-self: flex-start; /* Aligns to left side of the list item */
  }
  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }